name: Customer API | Release

on:
  workflow_run:
    workflows: ["Customer API | Build"]
    types:
      - completed

env:
  AZURE_WEBAPP_NAME: tiago-k-api-customer
  AZURE_WEBAPP_PACKAGE_PATH: './publish'

permissions:
  actions: read
  contents: read
  packages: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: dawidd6/action-download-artifact@v6
        with:
          run_id: ${{ github.event.workflow_run.id }}
          name: dotnet-app
          path: ./publish
          search_artifacts: true

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/dotnet-app'
