name: Customer API | Release

on:
  workflow_dispatch:

env:
  AZURE_REGISTRY_NAME: tiagokcontainerregistry
  AZURE_IMAGE_NAME: customer-api
  AZURE_IMAGE_TAG: latest

permissions:
  id-token: write
  actions: read
  contents: read
  packages: read
  deployments: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      ALL_SECRETS: ${{ toJson(secrets) }}
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
    
      - name: Log in to Azure
        uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Log in to ACR
        run: |
          az acr login --name ${{ env.AZURE_REGISTRY_NAME }}

      - name: Set up Kubectl
        uses: azure/aks-set-context@v2
        with:
          resource-group: ${{ secrets.AZURE_AKS_RESOURCE_GROUP }}
          cluster-name: ${{ secrets.AZURE_AKS_CLUSTER_NAME }}

      - name: Set environment variables
        run: |
          # Extract ENV_ prefixed variables from ALL_SECRETS
          ENV_VARS=$(echo "$ALL_SECRETS" | jq -r 'to_entries | .[] | select(.key | startswith("ENV_")) | "\(.key)=\(.value)"')
          echo "Extracted ENV Vars: $ENV_VARS"

          # Loop through each variable and export it
          echo "$ENV_VARS" | while IFS='=' read -r key value; do
            # Check if the key is a valid variable name (starts with a letter and contains only letters, digits, and underscores)
            if [[ "$key" =~ ^[a-zA-Z_][a-zA-Z0-9_]*$ ]]; then
              # Set the variable in the GitHub Actions environment
              echo "$key=$value" >> $GITHUB_ENV

              # Append to values.yaml
              echo "  \"${key#ENV_}\": \"\${${key#ENV_}}\"" >> ./tools/helm/customer-api-chart/values.yaml
            else
              echo "Invalid variable name: $key"
            fi
          done

      - name: Show updated values.yaml
        run: cat ./tools/helm/customer-api-chart/values.yaml

      - name: Show updated env variables
        run: cat env.CONNECTIONSTRINGS__DATABASE

      - name: Replace tokens in values.yaml
        uses: cschleiden/replace-tokens@v1
        with:
          file: ./tools/helm/customer-api-chart/values.yaml
          tokenPrefix: '${'
          tokenSuffix: '}'
          
      - name: Show updated values.yaml
        run: cat ./tools/helm/customer-api-chart/values.yaml

      - name: Deploy with Helm
        run: |
          helm upgrade --install customer-api-release ./tools/helm/customer-api-chart \
            --set image.repository=${{ env.AZURE_REGISTRY_NAME }}.azurecr.io/${{ env.AZURE_IMAGE_NAME }} \
            --set image.tag=${{ env.AZURE_IMAGE_TAG }}
